div.background
  #slider.banner
    h2.hexagon1 06
    h2.hexagon2 December
  div.matter
    h2.text "Please do come to witness the #[strong.prologue prologue] of seemingly a #[strong.long long-tale] of two tangible galaxies come into #[strong.one oneframe] of reference."

  div.googlenavigation
    a(href='https://goo.gl/maps/vXdA4dF8BEw' target="_blank"): img.vector(src='/assets/img/navigation.svg')
